
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-image: url("https://images.unsplash.com/photo-1548777123-e216912df7d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
    font-family: 'Noto Sans TC', sans-serif;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown-container{
    display: flex;
}

h1{
    font-size: 4rem;
    margin-top: -10rem;
    font-weight: normal;
}

.big-text {
    font-weight: bold;
    justify-content: center;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span{
    font-size: 1.3rem;
}